In [30]:
#complexity O(n)
def prime(n):
  if n<2:
    return "not prime"
  for i in range(2,n):
    if n%i==0:
      return "not prime"
  return "prime"
print(prime(12))

not prime

In [35]:
#Optimized O(sqrt(n))
def prime(n):
    if n < 2:
        return "not prime"
    for i in range(2, int(n ** 0.5) + 1):  # Loop only up to sqrt(n)
        if n % i == 0:
            return "not prime"
    return "prime"

print(prime(1))

not prime

In [47]:
a = [1,2,3,4,5,6,7,1,2,3,5,1]
for i in range(0,len(a)):
  print(f"{i} :",a.count(i))

0 : 0
1 : 3
2 : 2
3 : 2
4 : 1
5 : 2
6 : 1
7 : 1
8 : 0
9 : 0
10 : 0
11 : 0

In [40]:
a = [1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 5,1]
count_list = [(num, a.count(num)) for num in set(a)]
print(count_list)

[(1, 3), (2, 2), (3, 2), (4, 1), (5, 2), (6, 1), (7, 1)]

In [45]:
#Optimized O(n)
a = [1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 5, 1]
count_dict = {}

# Count occurrences in a single pass (O(n))
for num in a:
    count_dict[num] = count_dict.get(num, 0) + 1

# Convert dictionary to list
count_list = list(count_dict.items())
print(count_dict)

{1: 3, 2: 2, 3: 2, 4: 1, 5: 2, 6: 1, 7: 1}

In [48]:
a = [1,2,3,4,5,6,7,1,2,3,5,1]
seen = []
for i in range(0,len(a)):
  if i not in seen:
    a[i]=

    print(f"{i} :",a.count(i))

0 : 0
1 : 3
2 : 2
3 : 2
4 : 1
5 : 2
6 : 1
7 : 1
8 : 0
9 : 0
10 : 0
11 : 0

In [62]:
a = [1,2,3,4,5,6,7,1,2,3,5,1]
for i in range(0,len(a)):
  if a[i] ==1 :
    print("one")
  print(a[i])

one
1
2
3
4
5
6
7
one
1
2
3
5
one
1

In [63]:
a = [1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 5, 1]
output = []

for i in range(0, len(a)):
    if a[i] == 1:
        output.append("one")
    output.append(a[i])

print(output)

['one', 1, 2, 3, 4, 5, 6, 7, 'one', 1, 2, 3, 5, 'one', 1]